@font-face {
    font-family: 'saira';
    src: url('Fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'saira-light';
    src: url('Fonts/Saira_SemiCondensed-Light.ttf') format('truetype');
  }


h2 {
  margin: 0px;
}

.navbar {
    height: 70px;
    width: 100%;
    padding-left: 10px;
    background-color:#08a4ec;
    color: white;
    padding: auto;
}

body {
    font-family: saira-light;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

.navbar {
  display: flex;
  /*position: relative;*/
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  margin-left: 10px;
}

.menu-btn {

  height: 70px;
  width: 70px;
  margin-right: 20px;
  text-align: center;
}
.menu-btn:hover{
  background-color: rgba(0,0,0,0.1);
}
#Menu-div {
  background-color:#084cec;
  position: absolute;
  top: 70px;
  right: -10px;
  display: none;
  flex-direction: column;
  width: 200px;
}
#Nav-date {
  margin-left: 50%;
}

#Menu-div a {
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 10px;
}

#Menu-div a:nth-child(odd) {
  background-color: #0794d4;
}

#Menu-div a:nth-child(even) {
  background-color: #08a4ec;
}


.table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#add-button {
  margin-top: 1px;
  padding: 10px;
  background-color: #08a4ec !important;
  color: white;
  border: none;
}
#add-button:hover {
  background-color: #0271a4 !important;
}

#new-task-button {
  margin-top: 1px;
  padding: 10px;
  background-color: #08a4ec !important;
  color: white;
  border: none;
}
#new-task-button:hover {
  background-color: #0271a4 !important;
}

.task-text {
  width: 100%;
  text-align: center;
  background-color: #08a4ec;
  color: white;
}

#left-table {
  margin-left: 40px;
}
.left-table-content tr td{
  text-align: center;
  padding: 5px;
}

.left-table-content tr td:nth-child(1) {
  width: 40px;
}

.left-table-content tr td:nth-child(2) {
  width: 200px;
}
.left-table-content tr td:nth-child(3) {
  width: 200px;
}
.left-table-content tr td:nth-child(4) {
  width: 125px;
}
.left-table-content tr td:nth-child(5) {
  width: 125px;
}

.left-table-content tr:nth-child(odd) {
  background-color: lightgray !important;
}

.left-table-content tr:nth-child(even) {
  background-color: darkgray !important;
}

.left-table-content tr:nth-child(1) {
  background-color: white !important;
}

.left-table-content input {
  background-color: white !important;
  border: 1px solid gray;
  margin: 5px;
}

.left-table-content input:hover{
  background-color: #08a4ec !important;
}


#right-table {
  width: 35%;
  margin-right: 40px;
}
.right-table-content {
  width: 100%;
}
.right-table-content tr td{
  text-align: center;
  padding: 5px;
}

.right-table-content tr td:nth-child(1) {
  width: 50px;
}

.right-table-content tr td:nth-child(2) {
  width: 125px;
}
.right-table-content tr td:nth-child(3) {
  width: 125px;
}

.right-table-content tr:nth-child(odd) {
  background-color: lightgray !important;
}

.right-table-content tr:nth-child(even) {
  background-color: darkgray !important;
}

.right-table-content tr:nth-child(1) {
  background-color: white !important;
}

.right-table-content input {
  background-color: white !important;
  border: 1px solid gray;
  margin: 5px;
}

.right-table-content input:hover{
  background-color: #08a4ec !important;
}

.right-buttons-container {
  background-color: #08a4ec;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-options-btns {
  background-color: #08a4ec !important;
  padding: 11.3px;
  color: white;
  border: none;
  margin: 0px;
}

.right-options-btns:hover{
  background-color: #0271a4 !important;
}

.active {
  border: 1px solid blue;
  border-radius: 20px;
}